{% extends 'base2.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block page_content %}
<div id="wrapper">

	<!-- Sidebar -->
	{% include 'sidebar.html' with contextVariable=quiz_list.0 %}
	<!-- END Sidebar -->

	<div id="page-content-wrapper">
		<!-- Discussion Page Header -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-md-12 ">
						<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
						<div class="col-md-8 offset-md-2">
							<div class="container">
								<h2>List of {{ quiz_list.0.courses.name }} Quizzes</h2>
								{% if quiz_list %}
								<hr>
								<table class="table table-bordered table-striped">

									<thead>
										<tr>
											<th>Course</th>
											<th>Quiz Title</th>
											<!-- <th>Category</th> -->
											<th>Single attempt</th>
											<th>Take Quiz</th>
										</tr>
									</thead>

									<tbody>

										{% for quiz in quiz_list %}

										<tr>
											<td>{{ quiz.courses.name }}</td>
											<td>{{ quiz.title }}</td>
											<!-- <td>{{ quiz.category }}</td> -->

											<td>{{ quiz.single_attempt }}</td>

											<td>
												<a class="btn btn-sm btn-primary"
													href="{% url 'quiz_start_page' slug=quiz.url %}">
													Take Quiz
												</a>
										</tr>

										{% endfor %}
									</tbody>

								</table>

								{% else %}
								<p>{% trans "There are no available quizzes" %}.</p>
								{% endif %}
								<a class="btn btn-lg btn-success"
									href="{% url 'course_progress' quiz_list.0.courses.id %}">View Quiz Scores</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Menu Toggle Script -->
<script>
	$("#menu-toggle").click(function (e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
	});
</script>
{% endblock %}