{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<div id="update-profile">
    <div class="card shadow mb-3">
        <div class="d-flex flex-column align-items-center text-center">
            <div class="card-title mt-4 mb-0">
                <h4>Update Profile</h4>
            </div>
        </div>
        <hr>
        <div class="card-body">

            <div class="col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    {{ profile_form|crispy }}
                    <button class="btn btn-sm btn-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}