{% extends "base2.html" %}
{% block page_content %}

<div id="wrapper">

    {% include "admin-sidebar.html" %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <h1> Courses
                        <hr>
                    </h1>


                    <div class="container-fluid">
                        {% for courses in courses %}
                        <h3 style="padding-top:3rem">{{ courses.name }}</h3>
                        <p>{{ courses.description }}</p>
                        <a class="btn btn-dark" href="{% url 'welcome_page' courses.id %}"> View</a> |
                        <a class="btn btn-dark" href="/admin/courses/courses/{{ courses.id }}/change/"> Edit Course</a>
                        |
                        <!-- <a href= "/admin/student/welcomepage/?courses__id__exact={{courses.id }}"> Add/Edit Welcome Page</a> |
                        <a href= "/admin/student/post/?courses__id__exact={{ courses.id }}"> Add/Edit Modules</a> |
                        <a href= "/admin/student/connect/?courses__id__exact={{courses.id }}"> Add/Edit Connect</a> |
                        <a href= "/admin/student/readingmaterial/?courses__id__exact={{courses.id }}"> Add/Edit Reading Material</a> | -->
                        <a class="btn btn-dark" href="/admin/quiz/quiz/add/"> Add/Edit Assessments</a> |
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>





{% endblock %}