{% extends "base2.html" %}

{% block page_content %}

{% load crispy_forms_tags %}

<div id="wrapper">
    <!-- Sidebar -->
    {% include 'sidebar.html' with contextVariable=discussions.0 %}
    <!-- END sidebar-wrapper -->

    <div id="page-content-wrapper">
        <!-- Discussion Page Header -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-12 ">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        <div class="col-md-8 offset-md-2">
                            <h1>{{ discussions.courses }} Discussions</h1>
                            {% if user.is_staff %}
                            <a class="btn btn-md btn-success" href="#create_new_discussion">Create a New Discussion as
                                Staff</a>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END Discussion Page Header -->

        <!-- Discussion Entries Column -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for discussion in discussions %}
                    <div class="card shadow">
                        <div class="card-body">
                            <h2 class="card-title">{{ discussion.title }}</h2>
                            <p class="card-text text-muted h6">
                                {% if discussion.created_by.is_staff %}
                                <i class="mdi mdi-shield-account-outline"></i>
                                {% endif %}
                                {{ discussion.created_by }} |
                                {{ discussion.created_on}}
                            </p>
                            <p class="card-text">{{discussion.content|slice:":200" }}</p>
                            <!-- URL takes in the course ID and specific discussion pk -->
                            <a href="{% url 'discussion_detail' discussions.0.courses.id discussion.pk %}"
                                class="btn btn-dark">View Discussion
                                &rarr;</a>
                        </div>
                    </div>
                    <br>
                    {% endfor %}

                    <!-- END Discussion Entries Column -->
                    {% if user.is_staff %}
                    <a name="create_new_discussion">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title text-center"> Create a New Discussion </h3>
                                <form method="post" action="{% url 'discussions' discussions.0.courses.id %}">
                                    {% csrf_token %}
                                    {{ DiscussionForm|crispy }}
                                    <button type="submit" class="btn btn-md btn-success">Create Discussion</button>
                                </form>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    <!-- Create New Discussion Form for Staff -->

                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}