{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block page_content %}

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{% url 'home'%}">
                    E-Learning Lab
                </a>
            </li>
            <small>
                {% if user.is_authenticated %}
                <li style="color: white;">Welcome, {{ user.get_username }}</li>
                <li style="padding-left:1rem; padding-bottom: 2em;"><a
                        href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
            </small>
            <h4 style="color:white; padding-left: 1rem;">Course Links:</h4>
            <li>
                <a href="{% url 'welcome_page' discussion.courses.id %}">Home</a>
            </li>
            <li>
                <a href="{% url 'class_index' discussion.courses.id %}">Modules</a>
            </li>
            <li>
                <a href="{% url 'connect' discussion.courses.id %}">Connect</a>
            </li>
            <li>
                <a href="{% url 'reading_material' discussion.courses.id %}">Reading Material</a>
            </li>
            <li>
                <a href="{% url 'quiz' discussion.courses.id %}">Assessments</a>
            </li>
            <li>
                <a href="{% url 'discussions' discussion.courses.id %}">Discussion Boards</a>
            </li>
        </ul>
    </div>
    <!-- END Sidebar -->

    <div id="page-content-wrapper">

        <!-- Notification Section on successful creation -->
        {% if new_reply %}
        <div class="alert alert-success" role="alert">
            Your reply has been added
        </div>
        {% endif %}
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
            Your comment has been added
        </div>
        {% endif %}
        <!-- END Notification Section -->

        <!-- Discussion Topic Header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Toggle Menu Button -->
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

                    <div class="col-md-8 card mb-4 mt-3 top mx-auto shadow">
                        <div class="card-body">
                            <h1>{% block title %} {{ discussion.title }} {% endblock title %}</h1>
                            <p class=" text-muted">{{ discussion.created_by }} | {{ discussion.created_on }}</p>
                            <p class="card-text ">{{ discussion.content | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Discussion Topic Display -->

        <!-- Comments with Replies Display -->
        <div class="col-lg-12">
            <div class="col-md-8 card mb-4 mt-3 mx-auto shadow">
                <div class="card-body">
                    <!-- comments -->
                    <h2>{{ comments.count }} Comments</h2>

                    <!-- Button trigger modal (pop-up) for CommentForm -->
                    <!-- Note must pass in variable data as data-whatever value -->
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#commentModal">
                        + New Comment
                    </button>

                    {% for comment in comments %}
                    <hr>
                    <div class="comments" style="padding: 10px;">
                        <!-- If removed, don't render information -->
                        {% if comment.is_removed %}
                        <p class="font-weight-bold">
                            comment deleted
                        </p>
                        deleted
                        <!-- Otherwise render all comment information -->
                        {% else %}
                        <div class="font-weight-bold">
                            {{ comment.created_by }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                            <!-- Update Comment Form -->
                            {% if comment.created_by == user %}
                            <div class="d-inline-flex float-sm-right">
                                <button class="btn btn-sm btn-light" type="button" data-toggle="collapse"
                                    data-target="#collapseUpdateForm" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Edit Comment
                                </button>

                                <!-- Delete Comment Form -->
                                {% if comment.created_by == user and comment.is_removed == False %}
                                <form method="post" action="{% url 'delete_own_comment' comment.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                {% endif %}
                                <!-- END Delete Comment Form -->
                            </div>
                            <div class="collapse" id="collapseUpdateForm">
                                <form method="post" action="{% url 'update_comment' comment.pk %}">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button type="submit" class="btn btn-sm btn-light">Save Changes</button>
                                </form>
                            </div>

                            {% endif %}
                            <!-- END Update Comment Form -->
                        </div>
                        {{ comment.content | linebreaks }}
                        {% endif %}

                        <div class="mt-2">
                            <!-- Button trigger for ReplyForm -->
                            <div class="d-sm-inline-block mr-2">
                                <button class="btn btn-sm btn-dark" type="button" data-toggle="collapse"
                                    data-target="#collapseReplyForm{{comment.id}}" aria-expanded="false"
                                    aria-controls="collapseReplyExample">
                                    Reply
                                </button>
                            </div>
                            <!-- END Button trigger for ReplyForm -->
                        </div>

                        <!-- ReplyForm -->
                        <div class="collapse" id="collapseReplyForm{{comment.id}}">

                            <form method="post" style="margin-top: 1.3em;">
                                {% csrf_token %}
                                {{ reply_form|crispy }}
                                <input type="hidden" id="parent_id" name="parent_id" value="{{ comment.id }}" />
                                <button type="submit" class="btn btn-sm btn-dark">Submit</button>
                            </form>
                        </div>
                        <!-- END ReplyForm  -->


                        <!-- Display Replies for each comment -->
                        <div>
                            {% for reply in comment.replies.all %}
                            {% if reply.comment.id == comment.id %}

                            <div class="card-body">
                                <div class="font-weight-bold">
                                    {{ reply.created_by }}
                                    <span class=" text-muted font-weight-normal">
                                        {{ reply.created_on }}
                                    </span>

                                    <!-- Edit Reply Button Trigger for form -->
                                    <div class="d-inline-flex float-sm-right">
                                        <button class="btn btn-sm btn-light" type="button" data-toggle="collapse"
                                            data-target="#collapseUpdateReplyForm" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            Edit Reply
                                        </button>
                                        <!--  END Reply Button Trigger for form -->

                                        <!-- Delete Reply Form -->
                                        <form method="post" action="{% url 'delete_own_reply' reply.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </div>
                                    <!--  END Delete Reply Form -->

                                </div>
                                <p>{{ reply.reply | linebreaks }}</p>
                            </div>

                            {% if reply.created_by == user %}

                            <!-- Update Reply Form -->
                            <div class="collapse" id="collapseUpdateReplyForm">
                                <form method="post" action="{% url 'update_reply' reply.pk %}">
                                    {% csrf_token %}
                                    {{ reply_form|crispy }}
                                    <button type="submit" class="btn btn-sm btn-light">Save Changes</button>
                                </form>
                            </div>
                            <!-- END Update Reply Form -->

                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- END Display Replies -->
                        </div>
                    </div>

                    {% endfor %}

                </div>


                <!-- CommentForm Modal -->
                <!-- Button trigger modal (pop-up) for CommentForm -->
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#commentModal">
                    + New Comment
                </button>
                <br>

                <!-- CommentForm Modal -->
                <div class="modal" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commentModalLabel">Create Comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment has been added
                            </div>
                            {% else %}
                            <form method="post" style="margin-top: 1.3em;">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                </div>
                                <div></div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark btn-md">Save
                                        comment</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- END CommentForm modal -->
            </div>
        </div>
        <!-- END Comments Display -->

    </div>
</div>
<!-- Toggle Menu Feature -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% endblock page_content %}